@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-text: rgba(0, 0, 0, 0.8);

	/* Theme: Default */
	--color-bg-0: #cce3de;
	--primary: #6b9080;
	--secondary: #a4c3b2;
	--highlight: #f6fff8;

	font-family: var(--font-body);
	color: var(--color-text);
}

/* Theme: Adorsys */
[data-theme='adorsys'] {
	--color-bg-0: #b4c0f8;
	--primary: #2f2cf9;
	--secondary: #8fa1f5;
	--highlight: #d9e0fc;
}

/* Theme: TribeClub */
[data-theme='tribeclub'] {
	--color-bg-0: #eabebd;
	--primary: #c65451;
	--secondary: #f0d0cf;
	--highlight: #f5e1e0;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-0);
	background-size: 100vw 100vh;
	background-image: #000;
	color: var(--color-text);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-text);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.icon {
	color: var(--color-text);
	opacity: 0.85;
}

.icon:hover {
	opacity: 1;
}
